{% extends "layout.html" %}
{% block content %}


<div class="row-fluid">
    <div class="span12">
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
    </div>
</div>
<div class="row-fluid">
    <div class="span8 offset4">
        <h1>{{flavor}}!</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset4">
        <h4><a href="{{yums[0]}}">{{recs[0]}}</a></h4>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset4">
        <h4><a href="{{yums[1]}}">{{recs[1]}}</a></h4>
    </div>
</div>


<div class="row-fluid">
    <div class="span8 offset4">
        <h4><a href="{{yums[2]}}">{{recs[2]}}</a></h4>
    </div>
</div>


<div class="row-fluid">
    <div class="span8 offset4">
        <h4><a href="{{yums[3]}}">{{recs[3]}}</a></h4>
    </div>
</div>


<div class="row-fluid">
    <div class="span4 offset7">
        <a href="#home">Get some more juices flowing!</a>
    </div>
</div>


{% endblock %}