{% extends "layout.html" %}
{% block content %}


<!--<div class="row-fluid">
    <div class="span12">
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
    </div>
</div>-->
<div class="row-fluid">
    <div class="span12">
    </div>
</div>
<div class="row-fluid">
    <div class="span6 offset5">
        <h1>{{flavor}}!</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="span4 offset2">
        <img src="{{imgs[0]}}" height=150><br>
        <h4><a href="{{yums[0]}}">{{recs[0]}}</a></h4>
    </div>
    <div class="span4 offset1">
        <img src="{{imgs[1]}}" height=150><br>
        <h4><a href="{{yums[1]}}">{{recs[1]}}</a></h4>
    </div>
</div>




<div class="row-fluid">
    <div class="span4 offset2">
        <img src="{{imgs[2]}}" height=150><br>
        <h4><a href="{{yums[2]}}">{{recs[2]}}</a></h4>
    </div>
    <div class="span4 offset1">
        <img src="{{imgs[3]}}" height=150><br>
        <h4><a href="{{yums[3]}}">{{recs[3]}}</a></h4>
    </div>
</div>

<div class="row-fluid">
    <div class="span4 offset7">
        <form action="/" method="">
                <input type="submit" value="Get some more juices flowing!">
        </form>
    </div>
</div>


{% endblock %}